/* line 4, ../../../userprofile/sass/styles.sass */
body {
  font: 100% Helvetica, sans-serif;
  color: #999;
}

/* line 9, ../../../userprofile/sass/styles.sass */
.list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 14, ../../../userprofile/sass/styles.sass */
.list li {
  border-top: 5px solid #000;
  margin-top: 10px;
  height: 100px;
  overflow: hidden;
}
/* line 20, ../../../userprofile/sass/styles.sass */
.list img {
  height: 100px;
}
/* line 23, ../../../userprofile/sass/styles.sass */
.list a {
  float: left;
  padding: 6px 12px;
  text-decoration: none;
}

/* line 29, ../../../userprofile/sass/styles.sass */
li div {
  float: right;
}
