{% extends "base.html" %}
{% block content %}
{% include 'search_form.html' %}
<div class="list">
<ul>
    {%for user in objects%}
    <li>
        <div>
            <div class="user-avatar"><img src="/{{user.get_user_avatar}}" alt="My image"/></div>
            <div class="infor-box">
                <label><a href="{%url 'detail' user.id%}">{{user}}</a></label>
                <label>{{user.specialism}}</label>
            </div>
            <a href="{%url 'detail' user.id%}">
            <button class="view-button" value="View">View</button>
            </a>
        </div>
    </li>
    {%endfor%}
</ul>
</div>
{%include 'pagination.html' %}
{% endblock %}
